{% extends "base.html" %} 
{% load static %}
{% block title %}Advanced Blog{% endblock %} 

{% block content%}

<div class="container">
  <!-- Welcome message with the user's name -->
  {% if user.is_authenticated %}
    <h1 class="my-4 text-center fw-light">Welcome, {{ user.first_name }}!</h1>
  {% endif %}

  {% for post in object_list %}
    <div class="card mb-3 mt-5">
      <!-- Card header with post title, author, and date -->
      <div class="card-header d-flex justify-content-between align-items-center">
        <div>
          <a class="card-title" style="text-decoration: none;" href="{% url 'postDetails' post.pk %}"> 
            <h3 class="fw-light">{{ post.title }}</h3>
          </a>

          <a class="card-title" style="text-decoration: none;" href="{% url 'categoryFilter' post.category|slugify %}"> 
            <p class="card-text fw-light mb-0 fs-10">
                #{{ post.category }}
            </p>
          </a>
        </div>
        <div class="text-end">
        <p class="card-text fw-light text-decoration-none text-black fs-5">
          Author: {{ post.author.first_name }} {{ post.author.last_name }} 
          {% if post.author.userprofile.profileImage and post.author.userprofile.profileImage.url %}
            <img src="{{ post.author.userprofile.profileImage.url }}" class="profile-image" alt="Profile Image">
          {% endif %}
        </p>
          <p class="card-text fw-light mb-0 fs-10">
            {{ post.date_created|date:'Y-m-d' }}
          </p>
        </div>
      </div>

      <!-- Card body with post text -->
      <div class="card-body">
        <p class="card-text" align="justify">{{ post.description|slice:"400" | safe}}...</p>
        <i class="fa-solid fa-thumbs-up" style="color: #c3a6a0;"></i>
        {{post.like.count}}

        {% if request.user.is_authenticated and post.author == request.user %}
          <div class="mt-3 d-flex">
            <!-- Edit button -->
            <a href="{% url 'editPost' post.pk %}">
              <button class="btn btn-outline-secondary btn-sm edit-btn" type="submit">
                Edit
              </button>
            </a>
            <!-- Delete button -->
            <form method="POST" action="{% url 'deletePost' post.id %}" class="mr-2">
              {% csrf_token %}
              <button class="btn btn-outline-secondary btn-sm" type="submit">
                Delete
              </button>
            </form>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
